::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #2a2b2a; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #212121; 
}


body{
    scroll-behavior: smooth;
}

*{
    scroll-behavior: smooth !important;
}
